
/*============= MAP AND CALENDAR =============*/

.mapAndCalendar{
	display:flex;
}


.tituloMapa h1{
	font-size: 36px;
	text-align: center;
	margin-top:20px;
	margin-bottom: 20px;
}


/*============= CALENDAR  =============*/
 
.container_calendar {
  display:flex;	
  flex-direction:column;
  width: 300px;
  height: 450px;
  margin-left: 2%;
  margin-right: 10%;
 }

.header_calendar {
  width: 100%;
  height: 45%;
  background: linear-gradient(#7F99F5, #506CF5);
  border-radius: 15px 15px 0px 0px;
  display: flex;
  flex-direction: column;
 }
  .header_calendar h1 {
    margin: 30px 30px 0px 30px;
    padding: 0px;
    font-family: Arial;
    color: white;
    font-size: 90px;
   }
  .header_calendar h5 {
    margin: 0px 20px;
    margin-bottom: 15px;
    padding: 0px;
    font-family: Arial;
    color: white;
    font-size: 40px;
   }

.body_calendar {
  width: 100%;
  height: 65%;
  background: white;
  border-radius: 0px 0px 15px 15px;
  
 }

.container_details {
  width: 100%;
  height: 30px;
  position: relative;
  top: -13px;
  display: flex;
  justify-content: space-between;
 }
  .container_details .detail_1, .container_details .detail_2 {
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center; 
  }
    .container_details .detail_1 .detail, .container_details .detail_2 .detail {
      margin: 0px 4px;
      width: 10px;
      height: 100%;
    }
      .container_details .detail_1 .detail .circle, .container_details .detail_2 .detail .circle {
        width: 10px;
        height: 10px;
        background: #1C1E26;
        position: relative;
        top: calc(30px - 10px);
        border-radius: 50%;
       }
        .container_details .detail_1 .detail .circle .column, .container_details .detail_2 .detail .circle .column {
          width: 80%;
          height: 30px;
          background: #ececec;
          margin: 0px auto;
          position: relative;
          top: -22px;
          border-radius: 5px;
         }

.container_change_month {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.7;
 }
  .container_change_month div {
    height: 20px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
  .container_change_month button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: auto 5px;
    border: none;
    background: none;
    cursor: pointer;
   }

.container_weedays {
  width: 90%;
  height: 40px;
  /* background: #fa80725e; */
  display: flex;
  margin: 0px auto;
 }
  .container_weedays span {
    color: #506CF5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    line-height: 2.5;
   }

.week_days_item {
  display: flex;
  margin: auto;
  width: calc(100% / 7);
  justify-content: center;
  cursor: pointer;
 }

.week_days_item:hover {
  color: #506CF5;
 }

.prev_days {
  opacity: 0.5;
 }

.container_days {
  width: 90%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  margin: 0px auto;
 }
  .container_days span {
    color: #4e4e4e;
    height: 20px;
    margin: 5px 0px;
    padding: 0px;
    font-family: Arial; 
  }
  .container_days .today {
    display: flex;
   }
  .container_days .today:after {
    content: "";
    width: 19px;
    height: 19px;
    background: #506CF5;
    position: absolute;
    border-radius: 50%;
    border: 5px solid #506CF5;
    opacity: 0.5;
    margin: 0px 0px 0px 0px; 
  }


/*============= MEDIA QUERIES =============*/


@media (max-width: 1199.98px) {
	
	.mapAndCalendar{
	display:flex;
	flex-direction: column;
 	align-items: center;
	
}
	.mapAndCalendar .map{
	text-align: center;
}

.container_calendar{
	margin-left: 10%;
	text-align: center;
	}
	
}



@media (max-width: 767.98px) {
	.mapAndCalendar .map iframe{
	text-align: center;
	 width:426px; 
	 height:320px;
		
}

  
